html {
  font-size: 37.5px;
}
body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background-color: #F1F2F7;
}
.bodys {
  width: 9.2rem;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #707070;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  height: 4.533333rem;
  background-color: #0581FD;
  .header_name {
    display: flex;
    justify-content: space-between;
    padding: 0 .346667rem 0;
    align-items: center;
    color: #FFFFFF;
    img {
      width: .8rem;
      height: .8rem;
      margin-right: .16rem;
    }
    p {
      font-size: .48rem;
    }
  }
  .header_nav {
    display: flex;
    text-align: center;
    a {
      flex: 1;
    }
    img {
      width: .533333rem;
      height: .533333rem;
    }
    p{
      color: #FFFFFF;
      font-size: .32rem;
    }
  }
}

.search {
  text-align: center;
  margin-top: -1.066667rem;
  position: relative;
  input {
    width: 9.2rem;
    height: 1.013333rem;
    border-radius: .8rem;
    border: 1px solid #ccc; 
    text-align: center;
  }
  .search_after {
    position: absolute;
    margin: .72rem 0 0 .4rem;
    // background-color: pink;
    width: .533333rem;
    height: .533333rem;
    background-image: url(/icons/antOutline-search@1x.png);
  }
  .serch_befor {
    position: absolute;
    margin-left: 8.4rem;
    margin-top: -.8rem;
    // background-color: pink;
    width: .533333rem;
    height: .533333rem;
    background-image: url(/icons/antOutline-scan@1x.png);
  }
}
.configure {
  height: 3.066667rem;
  margin-top: .266667rem;
  border-radius: .533333rem;
}
.configure{
  ul {
    display: flex;
    justify-content: center;
    margin-top: -0.666667rem;
    list-style: none;
  }
  ul li {
    // display: flex;
    width: .266667rem;
    height: .266667rem;
    // background-color: red;
    margin-left: .266667rem;
    background-color: #FFFFFF;
    border-radius: .533333rem;
  }
}

.memu {
  width: 9.2rem;
  height: 5.04rem;
  margin-top: .266667rem;
  background-color: #FFFFFF;
  border-radius: .266667rem;
  display: flex;
  flex-wrap: wrap;
  div {
    width: 4.533333rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div:nth-child(1) {
    border-right: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
  }
  div:nth-child(2) {
    border-bottom: 2px solid #ECECEC;
  }
  div:nth-child(3) {
    border-right: 2px solid #ECECEC;
  }

  p {
    font-size: .426667rem;
    color: #101010;
    // margin-bottom: .266667rem;
  }
  span {
    font-size: .32rem;
    color: #7A7A7A;
    margin-top: .266667rem;
  }
  img {
    width: 1.173333rem;
    height: 1.173333rem;
    margin-left: .133333rem;
  }
}
.nav {
  height: 100%;
  width: 100%;
  background-color: #F1F2F7;
  border-radius: .266667rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: .533333rem;
  margin-bottom: 80px;
  img {
    height: 4.533333rem;
  }
  div {
    background-color: #FFFFFF;
    box-shadow:1px 2px 3px #aaaaaa;
    font-weight: 1300;
    border-radius: .266667rem;
  }
  div:nth-child(odd) {
    width: 4.46rem;
    height: 7.066667rem;
    display: flex;
    flex-direction: column;
    margin: 0 .24rem .24rem 0;
   
    p {
      font-size: .373333rem;
      color: #7A7A7A ;                           
      margin-top: .266667rem;
      margin-bottom: .133333rem;
      margin-left: .266667rem;
    }
    span {
      font-size: .32rem;
      color: #7A7A7A;
      margin-left: .266667rem;
    }
    em {
      font-size: .32rem;
      color: #7A7A7A;
      text-align: end;
      margin-right: .266667rem;
      
    }
  }
  div:nth-child(even) {
    position: relative;
    width: 4.48rem;
    height: 7.066667rem;
    display: flex;
    flex-direction: column;
    font-weight: 1500;
    align-items: center;
    img:nth-child(odd) {
        width: 4.64rem;
        position: absolute;
        z-index: 1;
    }
    img:nth-child(even) {
        z-index: 99;
        margin-top: .133333rem;
        width: 3.946667rem;
        height: 3.946667rem;
    }
  
    p {
      font-size: .373333rem;
      color: #FFFFFF;
      margin-left: .266667rem;
      z-index: 99;
      margin-top: .266667rem;
      margin-bottom: .133333rem;
    }
    span {
      font-size: .32rem;
      color: #FFFFFF;
      margin-left: .266667rem;
      z-index: 99;
    }
    em {
      font-size: .32rem;
      color: #7A7A7A;
      align-self: flex-start;
      margin: .56rem 0 0 .266667rem;
    }
  }
}
.footer {
  width: 10rem;
  height: 1.333333rem;
  background-color: #FFFFFF;
  position: fixed;
  margin-top: 20px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999999;
  a {
    display: flex;
    flex-direction: column;
    img {
      width: .64rem;
      height: .64rem;
    }
    span {
      font-size: .32rem;
      color: #101010;
      margin-top: .08rem;
    }
  }
}